
  .sign-wrap{
   
  }
  div.bx-1{
    display: flex;
    height: 82vh;
    margin-top: 5rem;
   align-items: center;
  }
  .signup-box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    margin-top: 15vh;
    margin-bottom: 5vh;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  div.signup-box form {
    width: 300px;
    justify-content: center;
    padding-left: 2rem;
    align-items: center;
    flex-direction: column;
  }
  
div.signup-box form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
 div.signup-box form input  {
    width: 15rem;
    padding: 0 0 0 10px;
    margin: 0;
    height: 2rem;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
  }
  div.signup-box form input::placeholder{
opacity: .5;
  }
  .stateinput{
    width: 15rem;
    padding: 0 0 0 10px;
    margin: 0;
    height: 2rem;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
  }
  div.signup-box button{
     
    margin-top: 20px;
    border: none;
    height: 3rem;
    padding: 0;
    text-align: center;
    width: 6rem;
    background-color: #86b817;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }

  .para-2 {
    text-align: center;
    color: rgb(20, 20, 20);
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }

   div.signup-box input:focus{
    border-color: #3ca9e2;
  }

  div.signup-box a{
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  @media(max-width:600px) {
    .signup-box{
        width: 90vw;
    }

    div.bx-1{
        margin-top: -1rem;
    }
  }
  
  