

.eq{
    margin-top: 8rem;
}
.earth-quake-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.eq-txt{
    text-decoration: underline;
    font-weight: 400;
    color: #666a68;
}
.eq-txt:hover{
    color: #1b1d1c;
}

@media (max-width:800px) {
    .eq{
    margin-top: 1rem;
    }
}

.record-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .record-button:hover {
    background-color: #3e8e41;
  }

  .dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-header {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    color: #555;
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    min-width: 160px;
    max-height: 200px;
    overflow-y: auto;
  }
  .rrr{
    margin-top: 14rem;
  }
  
  .dropdown-item {
    color: #555;
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f2f2f2;
  }
  
  