.wk-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.program-box{
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt3{
font-family: initial;
}
.counter{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    padding: 2em;
    /* align-items: center; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.counter span{
    padding-right: 1rem;
} 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(odd) {
    background-color: rgba(247, 201, 0, 0.8);
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .training-program-box{
margin: 3rem;
  }
  .ticket-box{
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    flex-direction: column;
    margin: 3rem 12rem;
    padding: 3rem;
  }
.tx4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
}
div.ticket-box button{
    background-color: #a8e364;
    padding: .3rem;
    border-radius: 0.4rem;
}
  @media (max-width:900px) {
    .tx4{
        flex-direction: column;
    }
  }